body {
    background-color: #ebebeb;
    margin: auto;
}

.formularioregistro {
    padding: 20px;
    margin: auto 0;
}

.estilodiv {
    padding-bottom: 15px;
}

.estilodiv label {
    margin-bottom: 5px;
    display: block;
    
   
}

.estilocaja{
    display: flex;
    padding: 5px 5px;
    justify-content: center;
    margin: auto 0;
}

.formatocampo {
    width: 100%;
    padding: 10px 10px;
}

.formatoregistro{
    margin: auto 0;
    text-align: center;
}



.encabezadoregistro {
    margin: auto 0;
}

.encabezado {
    text-align: center;

 

}

.barra{
    width: 20%;
    padding: 5px;
    border: none;
    border-radius: 5px;
}


.button {
    border: none;
    background-color: #1259c3;
    font-size: 20px;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
}

.center {
    text-align: center;
    padding: 10px;
}


.button:hover {
    background-color: #EAC926;
}